/*The only true important classes here are the astonish and the animated class
and the media query that determines at which window widths they are visible
and hidden respectively. */
.astonish {
     visibility: visible;
}
img {
     border: 2px solid #2172ed99;
     box-shadow: 0px 5px 4px -2px rgba(0, 0, 0, 0.5);
     width: 100%;
     height: 100%;
     max-height: 250px;
     max-width: 250px;
}
h1 {
     color: #2172ed99;
     margin: 4rem 0;
}
.fa {
     font-size: 3rem;
}
.hover {
     -webkit-animation: hover 2s infinite linear;
            animation: hover 2s infinite linear;
}
.section {
     padding: 4rem 0;
}
.section .row {
     margin-bottom: 1rem;
}
.take-space {
     height: 1800px;
}
.pop {
     color: #f35626;
     background-image: -webkit-linear-gradient(92deg, #2172ed99, #ed21a399);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     -webkit-animation: hue 60s infinite linear;
}
@keyframes hover {
     0%, 100% {
          transform: translateY(0);
     }
     50% {
          transform: translateY(40%);
     }
}
@keyframes hue {
     0% {
       -webkit-filter: hue-rotate(0deg);
     }
     100% {
       -webkit-filter: hue-rotate(-360deg);
     }
}
@media and screen (min-width: 768px) {
     .astonish {
          visibility: hidden;
     }
     .animated {
          visibility: visible;
     }
}
